body
{
 background-size:cover;
}

.heading
{
    font-size: 20px;
    width: 100%;
    margin:0px;
}

#start
{
    font-size: 15px;
}

#number_of_objects
{
    font-size: 15px;
}

#status
{
    font-size: 15px;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: cyan;
    line-height: 2;
    text-align: center;
}

canvas
{
 border: 2px solid white;
 border-radius: 10px ;
 margin-top: 100px;
 box-shadow: 7px 7px 7px gray;
}
